# Your openai api key. (required)
OPENAI_API_KEY=sk-xxxx

# DeepSeek Api Key. (Optional)
DEEPSEEK_API_KEY=

# Access password, separated by comma. (optional)
CODE=your-password

# You can start service behind a proxy. (optional)
PROXY_URL=http://localhost:7890

# Enable MCP functionality (optional)
# Default: Empty (disabled)
# Set to "true" to enable MCP functionality
ENABLE_MCP=

# (optional)
# Default: Empty
# Google Gemini Pro API key, set if you want to use Google Gemini Pro API.
GOOGLE_API_KEY=

# (optional)
# Default: https://generativelanguage.googleapis.com/
# Google Gemini Pro API url without pathname, set if you want to customize Google Gemini Pro API url.
GOOGLE_URL=

# (optional)
# Default: Empty
# If you want to chat gemini through openai path, set this value to 1.
CHAT_GEMINI_THROUGH_OPENAI=

# Override openai api request base url. (optional)
# Default: https://api.openai.com
# Examples: http://your-openai-proxy.com
BASE_URL=

# Specify OpenAI organization ID.(optional)
# Default: Empty
OPENAI_ORG_ID=

# (optional)
# Default: Empty
# If you do not want users to use GPT-4, set this value to 1.
DISABLE_GPT4=

# (optional)
# Default: Empty
# If you do not want users to input their own API key, set this value to 1.
HIDE_USER_API_KEY=

# (optional)
# Default: Empty
# If you do not want users to input their own API url, set this value to 1.
HIDE_USER_API_URL=

# (optional)
# Default: Empty
# If you do not want users to input model, set this value to 1.
HIDE_USER_CUSTOM_MODEL=

# (optional)
# Default: Empty
# If you do want users to query balance, set this value to 1.
ENABLE_BALANCE_QUERY=

# (optional)
# Default: Empty
# If you want to disable parse settings from url, set this value to 1.
DISABLE_FAST_LINK=

# (optional)
# Default: Empty
# To control custom models, use + to add a custom model, use - to hide a model, use name=displayName to customize model name, separated by comma.
CUSTOM_MODELS=

# (optional)
# Default: Empty
# Change default model
DEFAULT_MODEL=

# anthropic claude Api Key.(optional)
ANTHROPIC_API_KEY=

### anthropic claude Api version. (optional)
ANTHROPIC_API_VERSION=

### anthropic claude Api url (optional)
ANTHROPIC_URL=

# (optional)
# Default: Empty
# If you want to chat cluade through openai path, set this value to 1.
CHAT_CLAUDE_THROUGH_OPENAI=

### (optional)
WHITE_WEBDAV_ENDPOINTS=

### siliconflow Api key (optional)
SILICONFLOW_API_KEY=

### siliconflow Api url (optional)
SILICONFLOW_URL=

### 302.AI Api key (optional)
AI302_API_KEY=

### 302.AI Api url (optional)
AI302_URL=

# (optional)
# Default: Empty
# Empty Example: +llama,+claude-2,-gpt-3.5-turbo,gpt-4-1106-preview=gpt-4-turbo means add llama, claude-2 to model list, and remove gpt-3.5-turbo from list, and display gpt-4-1106-preview as gpt-4-turbo.
# DATABASE Example: +知识库1==apikey
CUSTOM_MODELS=

# (optional)
# Default: Empty
# If you want to set default model, set it here.
DEFAULT_MODEL=

# (optional)
# Default: Empty,
# Example: http://127.0.0.1:8080
# midjourney proxy url, see: https://github.com/novicezk/midjourney-proxy
MIDJOURNEY_PROXY_URL=

# (optional)
# Default: Empty
# see: https://github.com/novicezk/midjourney-proxy/wiki/%E9%85%8D%E7%BD%AE%E9%A1%B9 #mj.api-secret
MIDJOURNEY_PROXY_API_SECRET=

# (optional)
# Default: Empty
# If you want to disable mj img self proxy, set this value to false.
USE_MJ_IMG_SELF_PROXY=

# (optional)
# Default: Empty
# If you want to use base_url as mj_url, set this value to 1.
REPLACE_MJURL_WITH_BASEURL=

# (optional)
# Default: Empty
# If you want to hide midjourney setting, set this value to 1.
HIDE_MIDJOURNEY_SETTING=

# (optional)
# Default:https://cdn.discordapp.com
DISCORDCDN_PROXY_URL=

# (optional)
# stable-diffusion 的接口地址，例如：http://127.0.0.1:7860
STABLE_DIFFUSION_BASE_URL=

# (optional)
# stable-diffusion 的接口的Authorization
STABLE_DIFFUSION_API_KEY=

# (optional)
# stable-diffusion 接口超时时间，单位分钟，默认10分钟
STABLE_DIFFUSION_TIMEOUT=

# (optional)
# Default: Empty
# If you want to hide sd setting, set this value to 1.
HIDE_SD_SETTING=

# (optional)
# OSS 相关配置，支持 阿里云oss 和 minio
# type 可以取值 aliyun 或者 minio, 填了代表需要上传到oss，不需要上传到oss则不填
OSS_TYPE=
# 服务器地址，例如：aliyun：oss-accelerate.aliyuncs.com，minio：192.168.2.120(只需要ip)
OSS_ENDPOINT=
# type为minio，且endpoint为ip时，则需要有端口
OSS_PORT=
# tpe为minio，根据实际情况开启，如果endpoint是ip，那就false
OSS_HTTPS=false
# aliyun则填accessKeyId，minio则填username
OSS_ACCESS_KEY=
# aliyun则填accessKeySecret，minio则填password
OSS_SECRET_KEY=
# 桶名称
OSS_BUCKET=
# aliyun oss 绑定的域名, 2019.9.23后创建的bucket，需要绑定域名，不然无法预览
OSS_DOMAIN=

# 文件上传路径，
FILE_UPLOAD_URL=
# 文件上传鉴权
FILE_UPLOAD_KEY=
# 如果需要让文件在浏览器端直接上传，则设成1，但是会把key暴露到浏览器端
FILE_UPLOAD_FROM_BROWSER=

# 授权码
AUTHORIZE_CODE=

# 应用title，授权之后可以改
APP_TITLE=
APP_SUB_TITLE=
APP_ICON=

# 知识库url，目前是fastgpt
KNOWLEDGE_BASE_URL=

# 日志开关
DEBUGGER=

# 自定义输入框提示
INPUT_PLACEHOLDER=

# 隐藏语音输入，1为隐藏
HIDE_VOICE_INPUT=

# GPTS url，gpts接口地址
GPTS_BASE_URL=

# (optional)
# Default: Empty
# If you want to hide GPTs, set this value to 1.
HIDE_GPTS=

# (optional)
# Default: Empty
# If you want to hide UPDATE LOG, set this value to 1.
HIDE_UPDATE_LOG=

# (optional)
# Default: Empty
# If you want to always display model, set this value to 1.
ALWAYS_DISPLAY_MODEL=


# (optional)
# Default: Empty
# If you want to skip mask pick, set this value to 1.
SKIP_MASK_PICK=

# (optional)
# Default: Empty
# If you want to send img url to platform when use vision model, set this value to 1. default send base64.
SEND_IMG_URL=

# (optional)
# Default: Empty
# If you want to set default summarize model, set name here.
DEFAULT_SUMMARIZE_MODEL=

# (optional)
# Default: Empty
# If you want to set default use custom config, set this value to 1.
USE_CUSTOM_CONFIG=

# (optional)
# Default: Empty
# If you want to enable inject system prompts, set this value to 1.
ENABLE_INJECT_SYSTEM_PROMPTS=

ZHIPU_API_VERSION=v4

CHAT_ALL_THROUGH_OPENAI=

DEFAULT_MAX_SCREEN=

// 隐藏发现按钮, 1隐藏，默认不隐藏
HIDE_DISCOVERY_BUTTON=

S3_BUCKET=
S3_ENDPOINT=
S3_PUBLIC_DOMAIN=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_ENABLE_PATH_STYLE=
S3_SET_ACL=
S3_DIRECTORY=

# 禁用模型可用性检查，1为不检查
DISABLE_MODEL_CHECK=

# 隐藏面具按钮，1为隐藏
HIDE_MASK_BUTTON=

PLUGIN_BUTTON_CUSTOM={"text": "自定义", "icon": "https://", "url": "https://"}

LUMA_PROXY_URL=
LUMA_API_KEY=

# 修改预设提示词
SYSTEM_SETTINGS={"systemPrompt":"[lobe-chat-pro](https://lobe.annyun.cn)"}